# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Distribution / build
dist
build

# Local environment files
.env
.local
.DS_Store

# Editor and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
tmp/
temp/

# Optional: Specific OS files
Thumbs.db